# OpenSSL configuration file for creating a CSR for a server certificate
# Adapt at least the FQDN and ORGNAME lines, and then run 
# openssl req -new -config myserver.cnf -keyout myserver.key -out myserver.csr
# on the command line.

CN=rustasync

[ req ]
prompt                 = no
encrypt_key            = no
distinguished_name     = req_distinguished_name

[ req_distinguished_name ]
countryName            = "CZ"                     # C=
localityName           = "City"         # L=
organizationName       = "Company"             # O=
commonName             = rustasync                # CN=
emailAddress           = "fbucek@invloop.cz"      # CN/emailAddress=

[ EXT ] 
keyUsage               = digitalSignature
extendedKeyUsage       = serverAuth
subjectAltName         = @alt_names

[alt_names]
DNS.1 = localhost
